.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.green {
    background: lightgreen;
}

.green-text {
    color: darkslateblue;
}
.blue {
    background: rgba(0, 0, 255, 0.41);
}

.blue-text {
    color: #fa3636;
}